@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');





*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Lato', sans-serif;
}

html,body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


/* header starts */

/* nav here */

.navbar-brand img{
    width: 60px;
}






/* nav ends */



.hc-left p{
    font-size: var(--font-p);
    font-weight: 900;    
}

.hc-left img{
    position: relative;
    right: 120px;
}





/* card starts */

.card .card-body button{
    width: 300px;
}

.card-list{
    list-style-image: url(./images/check.png);
}

.card-subtitle span{
    background:var(--body-bg);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

/* card ends */


/* header end */

/*-----------------------
    Main starts
 ------------------------- */

/* section-1  */
.sec-1-text{
    text-align: center;
}


.sec-1-text p{
    font-size: var(--font-p);
    font-weight: 900;
    color: var(--text-dark-blue);
    margin-bottom: 1px;
}

.section-1 #button-div1 button{
    border: 2px solid var(--button-textc);
    color: var(--button-textc);
    font-weight: 700;
    width: 200px;
}

.section-1 #button-div1 button:hover{
    background-color: var(--button-textc);
    color: #fff;
}

/* section-1 ends */


/* section-2 */
.section-2{
    background: var(--body-bg);
    display:flex;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: center;
    gap:100px;
}

.sec-2-left{
    color: #fff;
}

.sec-2-left h2{
    font-weight: 900;
}


.sec-2-right button{
    background-color: #fff;
    color: var(--text-dark-blue);
    font-weight: 700;
    font-size: var(--button-font);
}

.sec-2-right button:hover{
    color: #fff;
    background-color: #46af5a;
}


/* section-2 styled */


/* section-3 starts */


.sec-3-head p{
    font-size: var(--font-p);
    font-weight: 900;
}

.section-3 button{
    background-color: #fff;
    color: var(--button-textc);
    font-weight: 700;
    border: 2px solid var(--button-textc);

}

.section-3 button:hover{
    background-color: var(--button-textc);
    color: #fff;
}


.section-3 .container .row .card{
    height: 300px;
}


.section-3 .container .row .card img{
    width: 90px;
}

.section-3 .container .row .card .card-body h4{
    font-weight: 900;
    color:#1d2b36;
}

/* section-3 styled */


/* section-4 starts */

.section-4{
    background:var(--body-bg) ;
    color: #fff;
}

.sec-4-head p{
    font-size: var(--font-p);
    font-weight: 900;
    margin-bottom: 1px;
}


#button-div3 button{
    color: var(--text-dark-blue);
    font-weight: 700;
    background-color: #fff;
    margin-top: 40px;
    width: 200px;
    margin-bottom: 20px;
}

#button-div3 button:hover{
    color:#fff;
    background-color: var(--button-textc);
}

.process:first-of-type{
    position: relative;
    top:32px;
}

.process p{
    font-weight: 900;
    font-size: 20px;
}

/* section-4 styled */

/* section-5 here */

.faq-container p{
    font-size: var(--font-p);
    font-weight: 900;
}

.accordion{
    width:100%;
}

.accordion-header button{
    font-weight: 700;
    font-size: var(--font-s);
}

.accordion-body p {
    font-size: 15px;
}

#button-div4 button{
    color: #fff;
    font-weight: 700;
    background-color: var(--button-textc);
    width: 200px;

}

#button-div4 button:hover{
    color:var(--button-textc);
    background-color: #fff;
    border: 2px solid var(--button-textc);
}

/* section-5 styled */



.payment-container p{

    font-size: var(--font-p);
    font-weight: 900;
}

.download-container{
    background: var(--body-bg);
    color: #fff;
}

.download-container p{
    font-size: var(--font-p);
    font-weight: 900;
    margin-bottom: 1px;
}

.download-container #sub-p{
    font-size: 17px;
    font-weight: 700;
}

.download-container .download-container-img img{
    width: 150px;
    height: 50px;
    padding:10px 20px;
    background-color: #fff;
    border-radius: 15px;

}


/* carousel starts */

.carousel-card{
    border: 1px solid grey;
    border-radius: 16px;
}

.carousel-card .card-head{
    background-color: azure;
    border-radius: 16px;
}

.carousel-card .card-head h4{
    font-weight: 900;
    color: var(--button-textc);
}

.carousel-card .card-foot{
    color: var(--text-dark-blue);
}

.carousel-card .card-body h2{
    font-weight: 900;
}




.card-foot ul li{
    list-style-type: none;
}


.carousel-card .card-button button{
    border: 1px solid var(--button-textc);
    color:var(--button-textc);
    width: 200px;
    font-weight: 700;
}

.carousel-card .card-button button:hover{
    background-color: var(--button-textc);
    color: #fff;
}

#unlimited-plan, #unlimited-europe-plan{
    background-color:#069f9d;
}

#unlimited-europe-plan .card-head{
    background-color: #048d8b;
} 

#unlimited-europe-plan .card-head h4{
    color: #fff;
}

#unlimited-europe-plan .card-body{
    color: #fff;
}

#unlimited-europe-plan .card-foot{
    color: #fff;
}

#unlimited-europe-plan .card-button button{
    color: #069f9d;
    border: 1px solid #069f9d;
    background-color: #fff;
}

.carousel-card .card-button{
    margin-top: 20px;
}

#unlimited-plan .card-head h4{
    color: #fff;
}

#unlimited-plan{
    background-color: #069f9d;
}

#unlimited-plan .card-head{
    background-color: #048d8b;
}

#unlimited-plan .card-body{
    color: #fff;
}

#unlimited-plan .card-foot{
    color: #fff;
}

#unlimited-plan .card-button button{
    color: #069f9d;
    background-color: #fff;
    border: 1px solid #fff;
}

/* carousel styled */


#socialmedia{
    display: flex;
    justify-content:flex-end;
    gap: 10px;
    padding-right: 10%;
    
}

#socialmedia button{
    height: 35px;
    width: 35px;
    border-radius: 0px 20px 20px;
    border:1px solid #46af5a;
    background-color: white;
    color: #46af5a;
}


#socialmedia button:hover{
    background-color: #46af5a;
    color: #fff;
}





footer{
    color: var(--text-dark-blue);
}

.footer-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 10px;
}

.footer-list lh{
    font-size: x-large;
    font-weight: 900;
}


.list-group li{
    list-style-type: none;
    line-height: 30px;
}



.email-container{
    text-align: center;
    margin-top: 20px;
}

.email-container p{
    color: var(--text-dark-blue);
    line-height: 5px;
}





/* MAIN ENDS*/


