@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');





*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Lato', sans-serif;
}

html,body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* header starts */



/* nav here */

#logo{
    width: 80px;
    height: 100px;
    padding-top: 10%;
    padding-bottom: 10%;
}

.navbar1{
    display: flex;
    justify-content: space-evenly;
    background: var(--body-bg);
    color: white;
    
}

.nav-right{
    margin-top: 25px;
}

.nav-list li{
    display: inline-flex;
    margin-left: 30px;
    cursor: pointer;
}

.activate-button{
    width: 150px;
    height: 45px;
    color: var(--button-textc);
    background-color: #fff;
    border: none;
    font-size: var(--button-fonts);
    border-radius: 8px;
    cursor: pointer;
    
}

.hamburger{
    display: none;

}



.nav-list li{
    list-style-type: none;
    font-size: var(--fonts-s);
}

/* nav ends */

.header-container{
    display: flex;
    background: var(--body-bg);
    gap: 150px;
    
    
}


.hc-left{
    margin-left: 5%;
    
    
}

.hc-left h2{
    font-size: xxx-large;
    
}

.hc-left h2,p{
    color: #fff;
    margin-top: 2%;
    
}

.hc-left,.hc-right{
    margin-top: 3%;
}

#fiveg-div{
    margin-left:-100px;
}



/* card starts */

.card-one{
    background-color: #fff;
    width: 450px;
    height: 450px;
    border-radius: 8px;
    padding-left: 30px;
    padding-right: 30px; 
    padding-top: 2px;   
    
}

.card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-body h3{
    background: rgb(41,182,76);
    background: linear-gradient(121deg, rgba(41,182,76,1) 39%, rgba(22,91,94,1) 60%, rgba(12,48,55,1) 71%); 
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
    font-weight: 900;
}


.card-title,.card-text,.card p{
    color: var(--text-blue);
    margin-top: 20px;
    margin-bottom: 10px;
}

.unlimited{
    font-weight: 900;
}




.card-one button{
    width: 425px;
    height: 65px;
    background-color: var(--button-textc);
    color: #fff;
    border: var(--button-textc);
    border-radius: 4px;
    font-weight: bold;
    font-size: large;
    margin-bottom: 20px;
    
}

.card-one h2{
    font-size: xxx-large;
    font-weight: 500;
}

.card-one h3{
    font-size: xx-large;
    background-image: var(--body-bg);
    

}

.card-one p{
    font-size: large;
}


.card-features{
    margin-right: 150px;
}

.card-features p{
    color: var(--text-dark-blue);
    white-space: nowrap;
}

.card button:hover{
    background-color: #fff;
    color: var(--button-textc);
    border:solid 2px var(--button-textc);

}


/* card ends */


/* header end */

/* main starts */


.container-text{
    text-align:center;
        
}

.container-text h2{
    font-size: xxx-large;
    margin-bottom: 8px;
    font-weight: 700;
}

.container-text h3{
    font-weight: lighter;
}

.card-wrapper p{
    color: black;
}

.card-wrapper button{
    width: 220px;
    height: 55px;
    background-color: #fff;
    color:var(--button-textc);
    border: solid var(--button-textc);
    border-radius: 4px;
    font-weight: 900;
    font-size: large;
    margin-top: 20px;
    display: block;
    margin: auto;

    
}

.card-wrapper button:hover{
    color: white;
    background-color: var(--button-textc);

}

#section-container1{
    width: 100%;
    height: 250px;
    background: var(--body-bg);
    margin-top: 50px;
    color: #fff;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 30px;
    
}

#section-container1 h3{
    font-size: xx-large;
    font-weight: 900;
    padding-top: 15px;
}

#section-container1 p{
    margin-top: 5px;
    font-size: large;
}

#activate-button2{
    color: var(--text-dark-blue);
    font-weight: 900;
    padding-top: 5px;
    margin-top: 50px;
    width: 180px;
    height: 50px;

}

#activate-button2:hover{
    color: #fff;
    background-color: var(--button-textc);
}


.card-1{
    border: 1px solid grey;
    padding-left: 10px;
    padding-top: 10px;
}

.card-1 img{
    margin-bottom: 12px;
}

.card-1 .card-body{
    padding-right: 100px;
}

.card-1 .card-title{
    margin-bottom: -10px;
    font-size: x-large;

}

.card-1 .card-text{
    font-size: smaller;
    white-space: nowrap;
    margin-left: 8%;
    color: #000;
}

#section-container2 h2{
    font-size: xxx-large;
    font-weight: 900;
    text-align: center;
    color: var(--text-dark-blue);
    margin-bottom: 50px;

}

#section-container2{
    margin-top: 20px;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(2,400px);
    justify-content: center;

}

.grid-container .card-1{
    width: 25rem;

}

#section-container2 button{
    display: block;
    margin: 20px auto;
    width: 220px;
    height: 55px;
    background-color: #fff;
    color:var(--button-textc);
    border: solid var(--button-textc);
    border-radius: 4px;
    font-weight: 900;
    font-size: large;

}

#section-container2 button:hover{
    background-color: var(--button-textc);
    color: white;
}

#section-container3{

    width: 100%;
    height: 700px;
    background: var(--body-bg);
    color: #fff;
    
    

}

#section-container3 .sc-3-text{
    text-align: center;

}

.sc-3-text h3{
    font-size: xxx-large;
    font-weight: 900;
    padding-top: 30px;
    padding-bottom: 10px;
}

.sc-3-text h5{
    font-size: larger;
    
}

.sc3-item{
    width: 15%;
}



.sc3-item img{
    margin: 20px 100px;

}


.sc3-item p{
    font-size: larger;
    font-weight: 900;
}




.sc-3-image{
    margin-left: 15%;
    margin-top: 5%;
}

.sc-3-items{
    display: flex;
    gap: 1px;
    flex-wrap: wrap;
    margin-left: -125px;
}

#item-2{
    position: relative;
    left: 15px;

}

#section-container3 button{
    display: block;
    margin: 1% auto;
    width: 220px;
    height: 55px;
    background-color: #fff;
    color:var(--text-dark-blue);
    border: solid #fff;
    border-radius: 4px;
    font-weight: 900;
    font-size: large;

}

#section-container3 button:hover{
    background-color: var(--button-textc);
    border-color:var(--button-textc);
    color: #fff;
}

.accordion-body p{
    color: var(--text-dark-blue);
    margin-left: 0px 5%;
}


#section-container4 .faq-container h2{
    margin-left: 40%;
    margin-top: 2%;
    font-size: xx-large;
    font-weight: 900; 
}

.accordion{
    width: 70%;
    margin-top: 2%;
    margin-left: 20%;
}

.accordion-item button{
    font-size: large;
    font-weight: 700;
    
}

#morefaq{
    display: block;
    margin: 5% auto;
    width: 220px;
    height: 55px;
    background-color:var(--button-textc);
    color:#fff;
    border: solid #fff;
    border-radius: 4px;
    font-weight: 900;
    font-size: large;
}

#morefaq:hover{
    background-color: #fff;
    border-color:var(--button-textc);
    color: var(--button-textc);
}

.payment-container{
    text-align: center;
    margin-bottom: 20%;
}


.payment-container h2{
    margin-bottom: 4%;
    font-weight: 900;


}

.pc-left{
    float: left;
    margin-left: 20%;
    
}

.pc-right{
    float: right;
    margin-right: 20%;
}

.download-container{
    background: var(--body-bg);
    color: #fff;
    text-align: center;
    min-height: 300px;
}

.download-container h2{
    font-weight: 900;
    font-size: xxx-large;
    margin: 20px auto;
}

.download-container-img{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
}

footer{
    color: var(--text-dark-blue);
}

.footer-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 10px;
}

.footer-list lh{
    font-size: x-large;
    font-weight: 900;
}

.list-group li{
    list-style-type: none;
    line-height: 30px;
}

#socialmedia{
    display: flex;
    justify-content:flex-end;
    gap: 10px;
    padding-right: 10%;
    
}

#socialmedia button{
    height: 35px;
    width: 35px;
    border-radius: 0px 20px 20px;
    border:1px solid #46af5a;
    background-color: white;
    color: #46af5a;
}

#socialmedia button:hover{
    background-color: #46af5a;
    color: #fff;
}

.email-container{
    text-align: center;
    margin-top: 20px;
}

.email-container p{
    color: var(--text-dark-blue);
    line-height: 5px;
}
















/* main ends */

/* media screen */


@media screen and (max-width:1300px) {
    .header-container{
        margin-left: -10%;
    }

    .hc-right{
        margin-left: -12%;
    }

    #section-container3{
        height: auto;
    }

    .sc-3-items{
        display: block;
        margin: 0px 30%;
    }

    .sc-3-items .connector{
        display: none;
    }

    .sc-3-items{
        display: block;
    }

    #section-container3 button{
        margin-top: 10%;
        position: relative;
        top: -20px;
        

    }

    
}






/* media query under 1000px */


@media screen and (max-width:1000px) {
    .header-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }

    .navbar{
        margin-left: -25%;
    }

    #logo{
        width: auto;
    }

    .nav-list{
        display: none;
    }

    
    .hc-right{
        margin: auto auto;
        margin-top: -100px;
    }

    #logo{
        width: 80px;
        height: 100px;
        padding-top: 10%;
        padding-bottom: 10%;
        margin-left: auto;
    }

    .hc-left{
        margin: 0px 125px;
    }

    .hc-left h2{
        font-size: xx-large;
        
    }

    .hc-left p{
        font-size: medium;
        
    }


    
#fiveg-img{
    width: 75%;
    margin-left: 100px;
}

#fiveg-div{
    margin-left: -30%;
    margin-top: 10%;
}

.card-one{
    margin:30px 10%;
}

#section-container1{
    height: 300px;
}


#section-container1 button{
    margin-top: 20px;
}


.grid-container{
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 2fr 2fr 2fr 2fr 2fr ;
    margin:auto 50%;
}

.sc-3-items{
    display: block;
    margin: 0px 20%;

}

.faq-container{
    margin-left: -25%;
}

#morefaq{
    margin-left: 40%;
}
    
    
}


/* media query under 500px */

@media screen and (max-width:500px) {

    .header-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 20px;
    }


    .hc-left h2,p{
        margin-left: 8%;
    }


    .nav-list{
        display: none;
    }

    #logo{
        width: 80px;
        height: 100px;
        padding-top: 10%;
        padding-bottom: 10%;
        margin-left: auto;
    }

    #fiveg-div{
        margin-top: 10%;
        margin-left: -25%;
    }


.card-one{
    width: 80%;
    height: 75%;
    margin-left: 15%;
    margin-top: -20px; 
    margin-bottom: 50px;  
}

.card-features{
      margin-left: 50%;
}

.card-features p{
    line-height: 20px;
    font-size: medium;
}


.card-one button{
    width: 100%;
    height: 65px;
    
    
}


.container-text h2{
    font-size: x-large;
}

.container-text h3{
    font-size: medium;
}

#section-container1 h3{
    font-size: x-large;
    margin: 5px 15px;
}

#section-container1 p{
    font-size: large;
    margin: auto 15px;
}

.grid-container .card-1{
    
    width: 20rem;

}

.grid-container .card-1 h6{
    font-size: small;
    margin:20px auto;
}

.sc-3-text h3{
    font-size: xx-large;
    font-weight: 900;
}

.sc-3-text h5{
    font-size: medium;
}

.sc3-item p{
    font-size: medium;
    font-weight: 900;
    margin-left: 5%;
}


.sc-3-items{
    margin: 0px 5%;
}

.faq-container {
    margin-left: -30%;
    
}

#morefaq{
    margin-left: 20%;
}









    
    
}


    




/* media query ends */