@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');





*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Lato', sans-serif;
}

html,body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


/* header starts */



/* nav here */

#logo{
    max-width: 80px;
}

.activate-button{
    width: 150px;
    height: 45px;
    color: var(--button-textc);
    background-color: #fff;
    border: none;
    font-size: var(--button-fonts);
    border-radius: 8px;
    margin-top:-5px;
    
}




/* nav ends */



.hc-left p{
    font-size: 45px;
    font-weight: 900;    
}





/* card starts */

.card .card-body button{
    width: 300px;
}

.card-list{
    list-style-image: url(./images/check.png);
}

/* card ends */


/* header end */

/* main starts */


.container-text{
    text-align:center;
        
}

.container-text h2{
    font-size: xxx-large;
    margin: 12px auto;
    font-weight: 700;
}

.container-text h3{
    font-weight: lighter;
    margin: 35px auto;
}

.card-wrapper p{
    color: black;
}

.card-wrapper button{
    width: 220px;
    height: 55px;
    background-color: #fff;
    color:var(--button-textc);
    border: solid var(--button-textc);
    border-radius: 4px;
    font-weight: 900;
    font-size: large;
    margin-top: 20px;
    display: block;
    margin: auto;

    
}

.card-wrapper button:hover{
    color: white;
    background-color: var(--button-textc);

}

#section-container1{
    width: 100%;
    height: 250px;
    background: var(--body-bg);
    margin-top: 50px;
    color: #fff;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 30px;
    
}

@media (max-width:1000px){
    #section-container1{
        height: 350px;
        text-align: center;
    }
}



#section-container1 h3{
    font-size: xx-large;
    font-weight: 900;
    padding-top: 15px;
}

#section-container1 p{
    margin-top: 5px;
    font-size: large;
}

#activate-button2{
    color: var(--text-dark-blue);
    font-weight: 900;
    padding-top: 5px;
    margin-top: 50px;
    width: 180px;
    height: 50px;

}

#activate-button2:hover{
    color: #fff;
    background-color: var(--button-textc);
}


.card-1{
    border: 1px solid grey;
    padding-left: 10px;
    padding-top: 10px;
}

.card-1 img{
    margin-bottom: 12px;
}

.card-1 .card-1-body{
    padding-right: 100px;
}

.card-1 .card-title{
    margin-bottom: -10px;
    font-size: x-large;
    color: var(--text-dark-blue);

}

.card-1 .card-text{
    font-size: smaller;
    white-space: nowrap;
    margin-left: 8%;
    color: #000;
}

#section-container2 h2{
    font-size: xxx-large;
    font-weight: 900;
    text-align: center;
    color: var(--text-dark-blue);
    margin-bottom: 50px;

}

#section-container2{
    margin-top: 20px;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(2,400px);
    justify-content: center;

}

@media (max-width:1000px){
    .grid-container{
        display:grid;
        grid-template-columns: auto;

    }

    .grid-container .card-1{
        height: 250px;
        
    }
}



.grid-container .card-1{
    width: 25rem;

}

#section-container2 button{
    display: block;
    margin: 20px auto;
    width: 220px;
    height: 55px;
    background-color: #fff;
    color:var(--button-textc);
    border: solid var(--button-textc);
    border-radius: 4px;
    font-weight: 900;
    font-size: large;

}

#section-container2 button:hover{
    background-color: var(--button-textc);
    color: white;
}

#section-container3{
    height: 700px;
    background: var(--body-bg);
    color: #fff;

}

@media (max-width:1130px){
    #section-container3{
        height: 1500px;
    }
}



#section-container3 .sc-3-text{
    text-align: center;

}

.sc-3-text h3{
    font-size: xxx-large;
    font-weight: 900;
    padding-top: 30px;
    padding-bottom: 10px;
}

.sc-3-text h5{
    font-size: larger;
    
}

.sc3-item{
    width: 15%;
}



.sc3-item img{
    margin: 20px 100px;

}


.sc3-item p{
    font-size: larger;
    font-weight: 900;
}




.sc-3-image{
    margin-left: 15%;
    margin-top: 5%;
}



.sc-3-items{
    display: flex;
    gap: 1px;
    flex-wrap: wrap;
    margin-left: -125px;
}

@media (max-width:1000px){

    #section-container3{
        height: 1500px;
    }
    
    .connector{
        display: block;
        margin:20px auto;
    }

    .sc3-item{
        width: max-content;
        display: block;
        margin-left: auto;
        margin-right: auto;

    }


    .sc3-item img{
        width: 20%;

    }

    .sc3-item p{
        font-size: medium;
        text-align: center;
    }

    #section-container3 button{
        display: block;
        margin-left: 200px;
    }

    #tryourplan{
        display: block;
        margin-top: 20px;
    }

    
}

#item-2{
    position: relative;
    left: 15px;

}

#section-container3 button{
    display: block;
    margin: 30% auto;
    width: 220px;
    height: 55px;
    background-color: #fff;
    color:var(--text-dark-blue);
    border: solid #fff;
    border-radius: 4px;
    font-weight: 900;
    font-size: large;

}

#section-container3 button:hover{
    background-color: var(--button-textc);
    border-color:var(--button-textc);
    color: #fff;
}

.accordion-body p{
    color: var(--text-dark-blue);
    margin-left: 0px 5%;
}

#section-container4{
    display: block;
    margin-left: auto;
    margin-right: auto;
}


#section-container4 .faq-container h2{
    text-align: center;
    font-size: xx-large;
    font-weight: 900; 
    margin-top: 50px;

}



.accordion{
    width: 70%;
    margin-top: 2%;
    margin-left: 20%;
}

.accordion-item button{
    font-size: large;
    font-weight: 700;
    
}

#morefaq{
    display: block;
    margin: 5% auto;
    width: 220px;
    height: 55px;
    background-color:var(--button-textc);
    color:#fff;
    border: solid #fff;
    border-radius: 4px;
    font-weight: 900;
    font-size: large;
}

#morefaq:hover{
    background-color: #fff;
    border-color:var(--button-textc);
    color: var(--button-textc);
}

.payment-container{
    text-align: center;
    margin-bottom: 20%;
}


.payment-container h2{
    margin-bottom: 4%;
    font-weight: 900;


}

.pc-left{
    float: left;
    margin-left: 20%;
    
}

.pc-right{
    float: right;
    margin-right: 20%;
}

@media (max-width:998px){
    .payment-container{
        display:flex;
        flex-direction: column;
        
    }
}

.download-container{
    background: var(--body-bg);
    color: #fff;
    text-align: center;
    min-height: 300px;
}

.download-container h2{
    font-weight: 900;
    font-size: xxx-large;
    margin: 20px auto;
}

.download-container-img{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
    flex-wrap: wrap;
}

footer{
    color: var(--text-dark-blue);
}

.footer-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 10px;
}

.footer-list lh{
    font-size: x-large;
    font-weight: 900;
}

@media (max-width:1000px){
    .footer-list{
        flex-direction: column;
        text-align: center;
    }
}

.list-group li{
    list-style-type: none;
    line-height: 30px;
}

#socialmedia{
    display: flex;
    justify-content:flex-end;
    gap: 10px;
    padding-right: 10%;
    
}

#socialmedia button{
    height: 35px;
    width: 35px;
    border-radius: 0px 20px 20px;
    border:1px solid #46af5a;
    background-color: white;
    color: #46af5a;
}

#socialmedia button:hover{
    background-color: #46af5a;
    color: #fff;
}

.email-container{
    text-align: center;
    margin-top: 20px;
}

.email-container p{
    color: var(--text-dark-blue);
    line-height: 5px;
}

.card-heads{
    text-align: center;
    
}

.card-heads .card-subtitle{
    font-size: xx-large;
    font-weight: 900;
}

.card-heads h6{
    font-weight: 700;
}

.card-body h5{
    font-size: xx-large;
    font-weight: 900;

}

.card-top{
    display: block;
    background-color: rgb(209, 224, 224);
    width: 111%;
    margin-top:-20px;
    text-align: center;
}

.card-inside{
    background-color: #fff;
    height: 200px;
    width: 100%;
    margin:2px auto;
}



.card-inside{
    display: flex;
    gap: 10px;
    row-gap: 2px;
    flex-wrap: wrap;
}

.card-inside p{
    color: #000;
    text-decoration: none;
}

#more-plans-button{
    margin: 50px auto;
}

@media (max-width:1500px){
    .card-inside p{
        font-size: medium;
        margin-left: 0px;
        white-space: nowrap;
    }
}


.card-wrapper .price-card {
    max-width: 320px;
    min-height: 400px;
}

/* main ends */




/* media query here */

@media all and (max-width:1300px){
    .hc-left h2{
        font-size: xx-large;
    }
}

@media (max-width:990px){

    .card-wrapper .price-card h5{
          font-size: large;
    }

    .card-wrapper .price-card h6{
        font-size: medium;
    }

    .price-card .card-inside p{
        font-size: small;

    }

    .price-card {
        width: 300px;
        height: 500px;
        
    }


}

    /* hc-left ends */

    .header-container{
        height: 600px;
    }

    .container-text h2{
        font-size: x-large;
    }

    .container-text h3{
        font-size: medium;
    }

    #section-container1 .sc-left h3{
        font-size: x-large;
    }

    #section-container1 .sc-left p{
        font-size: small;
    }

    #section-container1 .sc-right #activate-button2{
        font-size: smaller;
        width: 120px;
        margin-top: -20px;
    }

    #section-container2 h2{
        font-size: x-large;
    }

    #section-container2 .card-1-body h3,h6{
        font-size: medium;
    }

    #section-container2 #ourdataplans{
        font-size: medium;
        width: 130px;
    }

    #section-container3{
        height: 1100px;
    }


    #section-container3 h3{
        font-size: x-large;
    }

    #section-container3 h5{
        font-size: medium;
    }

    #section-container3 .sc3-item img{
        width: 20%;
    }

    #section-container3 .sc3-item p{
        font-size: small;
    }

    #section-container3 button{
        font-size: medium;
        width: 130px;
        
    }

    #section-container4 .faq-container h2{
        font-size: large;
        margin-bottom: 30px;
    }

    #section-container4 .accordion-button{
        font-size: small;
        width: auto;
    }

    #section-container4 .accordion-body p{
        font-size: small;
    }

    #section-container4 button{
        font-size: medium;
        width: 130px;
    }

    .payment-container h2{
        font-size: medium;
    }

    .payment-container img{
        width: 60%;
    }

    .pc-left h4{
        font-size: medium;
    }

    .pc-right h4{
        font-size: medium;
    }

    .download-container h2{
        font-size: large;
        
    }

    .download-container h5{
        font-size: small;
    }

    .download-container-img img{
        width: 30%;
    }

    .footer-list ul lh{
        font-size: medium;
    }

    .footer-list ul li{
        font-size: small;
    }

    .email-container p{
        font-size: small;
    }
    
}


/* media query under 300px */


@media (max-width:380px){

    .header-container{
        padding-top: 10%;
        height: 700px;
    }

    .hc-left h2{
        font-size: medium;
    }

    .hc-left p{
        font-size: smaller;
    }

    .hc-left img{
        width: 80%;
    }

    .hc-right .card-one{
        width: 220px;
        
    }

    .hc-right .card-one .card-body{
        display: block;
        margin: 0px -50px;
        text-align: center;
    }

    .hc-right .card-one button{
        font-size: small;
        width: 70%;
        height: 35px;
    }

    .hc-right .card-one .card-body h2{
        font-size: medium;
    }

    .hc-right .card-one .card-body h3{
        font-size: small;
    }

    .hc-right .card-one .card-body p{
        font-size: smaller;
    }

    .card-one .card-body button{
        font-size: medium;

    }

    .card-one .card-features{
        font-size: smaller;
    }

    .container-text h2{
        font-size: medium;
    }

    .container-text h3{
        font-size: small;
    }

    .card-wrapper{
        height: auto;
        width: auto;
    }

    .card-wrapper button{
        font-size: small;
        width: 120px;
    }

    #section-container1{
        height: 200px;
    }

    #section-container1 .sc-left h3{
        font-size: small;
    }

    #section-container1 .sc-left p{
        font-size: x-small;
    }

    #section-container1 .sc-right  #activate-button2{
        font-size: small;
        width: 100px;
        height: 30px;
    }

    #section-container2 h2{
        font-size: medium;
    }

    #section-container2 .grid-container .card-1{
        height: 300px;
        width: 250px;
    }

    .grid-container .card-1 .card-1-body{
        margin: 10px -5px;
    }

   .grid-container .card-1 .card-1-body h6{
    font-size: x-small;
   }

   #section-container2 #ourdataplans{
    font-size: small;
    width: 120px;
    
   }

   #section-container3 .sc-3-text h3{

    font-size: medium;
   }

   #section-container3 .sc-3-text h5{
    font-size: smaller;
   }

   .sc-3-items .sc3-item p{
    font-size: x-small;
   }

   #section-container3 button{
    font-size: small;
    width: 110px;
    height: 40px;
   }
 
}

@media(max-width:500px){
    .header-container{
        height: 1100px;
        padding-top: 10%;
    }

    .grid-container .card-1{
        width: 350px;
    }

    .grid-container .card-1 .card-1-body{
        margin: 10px auto;
    }
}

@media(max-width:768px){

    .swiper-slide .price-card .card{
        width: 250px;
            
    }

    .swiper-slide .price-card .card button{
        font-size: small;
        width: 120px;
        height: 30px;
    }
    
}

