:root{
    --font-p:45px;
    --font-s:25px;
    --button-font:20px;
    --body-bg: linear-gradient(108deg, rgba(72,170,104,1) 45%, rgba(65,148,159,1) 84%);
    --button-textc:#34bb54;
    --text-blue:#004a80;
    --text-dark-blue:#081e25;
    --text-white:#fff;

}