:root{
    --font-p:50px;
    --fonts-s:30px;
    --button-fonts:18px;
    --body-bg:linear-gradient(122deg, rgba(14,189,96,1) 50%, rgb(64, 121, 148) 100%);    
    --button-textc:#34bb54;
    --text-blue:#004a80;
    --text-dark-blue:#081e25;
    --text-white:#fff;

}